<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% movies.forEach(function(b) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.author %></td>
        <td><a href="/books/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
