
<%- include('../partials/header') %>
<section>
    
<div>Title:</div>
  <div> <% shop.forEach(function (b){ %>
        <tr> 
            <td><%= b %></td>
        </tr>
 <% }); %></div>
  
    
    <div>Cost:</div>
  <div><%= shop.price %></div>
  <%= console.log(shop) %>
    </form>
    </section>
  <%- include('../partials/footer') %>