<%- include('../partials/header') %>

<section id="showpage">
    
    <div>Title:</div>
    <div><%= book.title %></div>
    <div>Author:</div>
    <div><%= book.author %></div>
    <div>Cost:</div>
    <div><%= book.price %></div>
</section>

<%- include('../partials/footer') %>